a, a:visited, a:active {
  color: #444;
}

body {
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}


path {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
}

.sparkline {
  margin: 5px 10px 5px 10px;
  padding: 5px;
  border-radius: 5px 5px 5px;
  border: 1px solid #CCC;
}

.SparklineDescription {
    position: relative;
    display: inline-block;
}

.SparklineDescription .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;

}

.SparklineDescription:hover .tooltiptext {
    visibility: visible;
}

.SparklineDescription .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

